[submodule "global-assets"]
	path = global-assets
	url = git@github.com:SWEasabi/global-assets.git
	branch = main
[submodule "PoC-documentazione"]
	path = PoC-documentazione
	url = git@github.com:SWEasabi/PoC-documentazione.git
	branch = main
